.order-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 8px;
    background-color: cornsilk;
    border: 1px solid #aaa;
  }

  .order-container-title {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .order-container-passengers {
    padding: 10 px;
    border-radius: 5 px;
  }
  .chat-container-title {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  h1,
  h2 {
    text-align: center;
  }
  td,
  th {
    padding: 6px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  